-var titulo = "Título Principal"
-var titulos =["Título Principal", "Subtítulo 1", "Subtítulo 2", "Subtítulo 3",]
-var usuario = "David"
mixin caja(imagen,titulo,contenido)
  .caja
    .caja__imagen: img(src="images/"+imagen)
    .caja__contenido
      h3=titulo
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus labore rerum, suscipit laborum accusantium quia eos quam ipsam reiciendis eligendi adipisci odio distinctio iure amet totam expedita illo dolore dignissimos?
doctype html
html
  include head.pug
  body
    header
      h1 PlatziGames
      if usuario
        a Hola #{usuario}
      else
        a.boton Registro
    block contenidos