extend componentes/plantilla.pug
block contenidos
    section.intro
      .intro__imagen: img(src="images/imagen.png")
      .intro__contenido
        h2=titulo
        p=contenido
          span Lorem ipsum dolor sit amet consectetur adipisicing elit.
        a.boton Leer más
    main.contenido
      +caja('imagen.png',titulos[1],'Lorem ipsum dolor')
      +caja('imagen.png',titulos[2],'Lorem ipsum dolor')
      +caja('imagen.png',titulos[3],'Lorem ipsum dolor')



